
/* Loading Spinner */

.spinner-wrapper{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 7s;
}

.spinner-border{
    height: 80px;
    width: 80px;
}


/* Navbar */

.nav-link:hover{
    color: rgb(167, 15, 15) !important;
}


/* Caroussel */

.c-item{
    height: 935px;
}

.c-img{
    box-sizing: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.btnn{
    margin-right: 2%;
}






/* Fond pour page ou autre */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scene{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(219, 39, 39), rgb(133, 10, 10),rgb(77, 8, 8), rgb(59, 4, 8));
    background-attachment: fixed;
    overflow: hidden;
}

.moon{
    position: absolute;
    top: 100px;
    left: 400px;
    width: 100px;
    height: 100px;
    background: #f0ecec;
    border-radius: 50%;
    z-index: 1000;
}

.moon:after{
    content:'';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(rgb(219, 39, 39), rgb(133, 10, 10),rgb(77, 8, 8), rgb(59, 4, 8));
    background-attachment: fixed;
}

.forest{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    transform: scale(1.2);
}

.scene i{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}

@keyframes animate{
    0%
    {
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform: translateY(-100px);
    }
}

